.jscheduler_ui {
    font: caption;
}

.jscheduler_ui-day_view-header {
    margin-bottom: 5px;
    border-collapse: collapse;
}

.jscheduler_ui-day_view-header th {
    text-align: center;
}

.jscheduler_ui-day_view-body {
    border: 1px solid #d3d3d3;
    border-collapse: collapse;
}

.jscheduler_ui-day_view-body th {
    color: rgba(0,0,0,.54);
    text-align: center;
    font-size: .9em;
}

.jscheduler_ui-day_view-body td {
    border-left: 1px solid #d3d3d3;
}

.jscheduler_ui-event-day {
    padding: 3px;
}

.jscheduler_ui-event-timeline {
    padding-left: 3px;
}

.jscheduler_ui-vsep {
    border-top: 1px dashed #d3d3d3;
}

.jscheduler_ui-month_view {
    border-collapse: collapse;
}

.jscheduler_ui-month_view th {
    text-align: center;
    padding-bottom: 5px;
}

.jscheduler_ui-month_view td {
    border: 1px solid #d3d3d3;
}

.jscheduler_ui-month_view-numday-inactive {
    opacity: 0.5;
}

.jscheduler_ui-hsep {
    border-left: 1px dashed #d3d3d3;
}

.jscheduler_ui-draggable {
    cursor: move;
}

.jscheduler_ui-resize-handler {
    cursor: ns-resize;
}
